:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  h3 {
    font-family: 'Futuristic';
    font-size:2em;
    padding: 0;
    margin: .5em 0;
    min-width: 330px;
  }
}
