:root {
  --background-color: 49 49 49;
  --default-text-color: 255 255 255;
  --primary-color: 80% .4 222;
  --secondary-color: .74 0.16 24.3;
  --accent-color: 0.7059 0.1801 231.88;
  --shiny-white: 1 0.00011 271.152;
}
