:host {
  overflow: hidden;
  height: 100%;

  ul {
    font-family:"Futuristic";
    overflow: auto;
    padding: 0;
    margin: 0;
    list-style: none;
    height: 100%;

    li {
      --shine-duration:600ms;
      --shine-timeing:cubic-bezier(0.64, 0.02, 0.25, 1);
      --shine-end-position:50%;
      margin: .5em 0;
      font-weight: 600;
      letter-spacing: .15rem;
      a {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: var(--list-item-padding, .5em);
      }
      background-color: var(--list-item-color, oklch(var(--primary-color) / var(--list-item-hover-opacity, .05)));
      transition: background-color ease 1ms;
      cursor: pointer;
      &:hover {
        --shine-color:var(--primary-color);
        --list-item-hover-opacity: .2;
        --gradient-border-stop-color: 255 255 255;
        transition: background-color ease 100ms;

      }
      &.selected,
      &:active {
        --border-top-left-color: var(--shiny-white);
        --border-top-right-color: var(--shiny-white);
      }
    }
  }
}
